@charset 'UTF-8';

html,body {
    height: 100%;
}

.bgcolor {
    background-color: #222d32;
    font: 12px '幼圆' !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

ul, ol, dl, li {
    list-style: none;
}

input {
    border: 0 none;
    outline: 0 none;
}

img {
    vertical-align: middle;
    border: 0 none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
